/*=== GLOBAL ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chewy', cursive;
}

html, body {
  background-color: #596275;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.fetch, .promise {
  color: #f7d794;
}
